<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>668907824332-lv56jf66c839ngsidhk9tnk8crnh9qjj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.668907824332-lv56jf66c839ngsidhk9tnk8crnh9qjj</string>
	<key>API_KEY</key>
	<string>AIzaSyCpMAqj33S1GBJS-7TT-Og7VnIBIALpW_0</string>
	<key>GCM_SENDER_ID</key>
	<string>668907824332</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.pscruas.gifs</string>
	<key>PROJECT_ID</key>
	<string>ruasp0509-396bb</string>
	<key>STORAGE_BUCKET</key>
	<string>ruasp0509-396bb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:668907824332:ios:5aa661f2d775aa06100e69</string>
</dict>
</plist>